<HTML>
    <HEAD>
        <TITLE>
            Terse results of electronic structure calculations
        </TITLE>
        <META http-equiv="Content-Type" content="text/html; Charset=UTF-8">
        <script type="text/javascript" src="jsmol/JSmol.min.js"></script>
        <script type="text/javascript">
        var JmolApplet0;
        var Info = {
          width: %(JMolWinX)s,
          height: %(JMolWinY)s,
          jarFile: "JmolApplet.jar",
          serverURL: "http://134.48.45.11/jsmol-14.1.2/jsmol/php/jsmol.php",
          use: "HTML5",
          j2sPath: "jsmol/j2s"
        }
        </script>
    </HEAD>
    <BODY link="black">
        <p><h3>%(timestamp)s</h3></p>
        <TABLE border="1" cellspacing="0" cellpadding="4">
        %(TableBody)s
        </TABLE>
    </BODY>
</HTML>

