<HTML>
    <HEAD>
        <TITLE>
            Terse results of electronic structure calculations
        </TITLE>
        <META http-equiv="Content-Type" content="text/html; Charset=UTF-8">
     	<script type="text/javascript" src="https://comp.chem.mu.edu/jsmol.new/JSmol.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.12.0.js"></script>
      	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="terse.css" />
        <script type="text/javascript">
            Jmol._isAsync = false;
            $(function() {
            $( ".left_panel" ).resizable({
				aspectRatio: true,
			    minHeight: 325,
                minWidth: 325
            });
         });
        var JmolApplet0;
        var Info = {
          width: '%(JMolWinX)s',
          height: '%(JMolWinY)s',
          serverURL: "https://comp.chem.mu.edu/jsmol.new/php/jsmol.php",
          j2sPath: "https://comp.chem.mu.edu/jsmol.new/j2s",
          use: "HTML5",
          console: "jmolApplet0_infodiv",
          disableInitialConsole: false,
          allowJavaScript: true,
        }
        </script>
    </HEAD>
    <BODY link="black">
        <p><h3>%(timestamp)s</h3></p>
        %(pageBody)s
    </BODY>
</HTML>

