<HTML>
    <TITLE>
        Backup index of Terse results
    </TITLE>
    <HEAD>
        <base target="_parent">
        <base target="terse_frame">
    </HEAD>
    <BODY link="black">
        <p><h3>%(timestamp)s</h3></p>
        <DIV style="float:left">
        <TABLE border="1" cellspacing="0" cellpadding="4">
        %(TableBody)s
        </TABLE>
        </DIV>
        <DIV style="float:right"
        <IFRAME name="terse_iframe" seamless width="900px"></IFRAME>
        </DIV>
    </BODY>
</HTML>
